html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00020a;
}

canvas {
    margin: 50px auto 20px;
}

footer {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 10px;
    color: midnightblue;
    margin: 0 auto;
    text-align: center;
}

footer > a {
    color: aliceblue;
    text-decoration: none;
}